.container  { 
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    
}

.fas  {
    font-size: 25px  !important;
    text-decoration: none;
    color: purple;
 } 

 .landing {
    background-color: #3FEFE5;
    height: 250px;
}
.projects {
    background-color: #FC4344;
    height: 250px;
}

/* CARD SECTION */
section #portfolio {
    display: flex;
    flex-wrap: nowrap;
    font-size: 15px;
    color: red;
}

.card-body {
    background-color: #FC4344;

}


/* BOTTOM SECTION */
.bottom {
    background-color: #3FEFE5;
    height: 250px;
}




