h1{
    font-size: 50px;
    display: flex;
    
}  

.container{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    margin-right: 75px;

    
}

.fas  {
   font-size: 35px  !important;
   text-decoration: none;
} 


/* LANDING SECTION */

 .landing {
    background-color: #3FEFE5;
    height: 600px;
}

.jumbotron {
    width: 400px;
    height: 315px;
    background-color:  #FC4344;
    margin-left: 380px;
    margin-top: 120px
    
} 




/* PORTFOLIO SECTION */
.porfolio {
    background-color: #FC4344;
    height: 475px;
    
}

.card {
    display: flex;
    align-items: flex-end;
    align-content: space-around;
  }

  .card-group .card {
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 6em;
  } 


  /* BOTTOM SECTION */

.bottom {
    background-color: #3FEFE5;
    height: 600px;
} 

.jumbotron-bottom {
    background-color:  #FC4344;
    width: 500px;
    height: 400px;
    margin-left: 145px;
    margin-top: 120px;
}

.dropdown a.fas {
    color: orange;
} 
@media screen and  (min-width: 576px) {
   header {
       background: yellow;
   }
}


/* TABLET LAYOUT */

/* NavBar Extended */
/* NavBar Background Color */
.bg-light {
    background-color: pink !important;
    
}

/* NavBar Text Color */
.navbar-light .navbar-nav .nav-link {
    color: red;
}

/* Hamburger hidden */
.fas {
    visibility: hidden;
}

/* Initial hidden */
.container h1{
    display: none;
}

/* Full Name */
div .long {
    color: red;
    font-size: 50px;
}

/* Jumbotron for Tablet */


.jumbotron{
    width: 600px;
    height: 450px;
    background-color:  #FC4344;
    margin-left: 400px;
    margin-top: 50px
}

/* Quad Cards Layout*/

/* Text color in cards */
/* div .card {
    color: red;
   
} */

div .card {
    display: grid;
    
  
    

}




/* @media screen and  (min-width: 768px) {
    header {
        background: yellow;
    } */
